@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  background-color: #F6F6F6;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  background-color: #C8003E;
}

.search,
#addToCart-btn,
.buy-now {
  background-color: #E30047;
}

#search-btn {
  color: #fff;
  background-color: #333333;
}


.card {
  border: 1px solid #E30047;
  min-width: 260px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 #e97499, 0 6px 20px 0 #e97499;
}

button:hover {
  border: 1px solid #E30047 !important;
  background-color: #fff !important;
  color: #E30047 !important;
  box-shadow: 0 4px 8px 0 #e97499, 0 6px 20px 0 #e97499;

}

small {
  font-size: 15px;
}

.card h5 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #7B7B7B;
}

del {
  color: #E30047;
}

.price {
  color: #0BA5B4;
}

.card-img-top {
  width: 250px;
  height: 250px;
}

.cart-main .sticky-md-top {
  top: 17vh !important;
}

.cart {
  box-shadow: 0 4px 8px 0 #e97499, 0 6px 20px 0 #e97499;
}

.fa-star {
  color: #E30047;